<html>
    <link rel="stylesheet" href="login.css">
    <form action="sandiReset.html" id="lupaSandi" method="post">
        <div class="gambarLogo">
            <img src="login.png" alt="logoAgrishop" class="logoAgrishop">
        </div>
        <div class="container">
            <h1 class="judul">
                Agrishop
            </h1>
            <h1 class="judul">
                Ganti Kata Sandi
            </h1>
        </div>
        <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="text" id="email" placeholder="Masukkan Email" name="email" required >
        </div>
        <button type="submit">Masuk</button>
    </form>
</html>