@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --font: 'Poppins', sans-serif;
}

.navbar_sec {
    margin-top: 40px;
}

ul * {
    margin-bottom: 10px;
}

body{
    font-family: var(--font);
    height: 100vh;
    display: flex;
}

li,
a{
    text-decoration: none;
    list-style: none;
}

/* CLOSE SIDEBAR */

.sidebar{
    background-color: #F3F4F8;
    width: max-content;
    padding-right: 40px;
    border-radius: 5px;
    height: 100%;
}

.out{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

button{
    font-family: var(--font);
    font-size: large;
}

p{
    font-size: large;
    font-weight: bold;
}

.inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right{
    padding-left: 20px;
}