.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
}

p {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

.left{
    width: 50%;
    border: 5px;
    margin-top: 40px;
    margin: 30px 50px;
    padding: 10px;
    border: 3px solid black;
    float: left;
}

.right{
    float: right;
    width: 30%;
    border: 5px;
    margin-top: 40px;
    margin: 30px 50px;
    padding: 10px 40px;
    border: 3px solid black;
}

.infos{
    border: 1px solid black;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px
}

.bold{
    font-weight: 500;
}

fieldset {
    border: none;
    padding: 1px 0;
    padding-bottom: 5px;
  }

label, input{
    display: block;
    margin-bottom: 10px;
}