html, body{
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.topSection{
    background-color: rgb(193, 202, 193);
    border: 0;
    margin: 0;
    padding: 7px;
    display: flex;
    text-decoration: none;
    font-size: 30px;
    width: 100%;
    height: 50px;
}
.search{
    width: 100%;
    display: inline;
}
.search #searchBar{
    height: 30px;
    margin-right: 0;
    width: 80%;
    padding-top: 0;
}
.topSection #homeW{
    display: inline-block;
    width: 15%;
    justify-content: center;
    justify-items: center;
}
.topSection #homeAgrishop{
    display: inline-block;
    margin: 0;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
form.search button{
    border: none;
    background-color: rgb(60, 103, 15);
    height: 30px;
    margin-left: 0;
    padding: 7px;
    cursor: pointer;
}
form.search button:hover{
    background-color: rgb(95, 179, 10);
}
.iconTop{
    width: 10%;
    padding-top:5px ;
    display: inline-block;
    margin-top: 0;
}
.navtop{
    background-color: rgb(193, 202, 193);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    transform: translate(-50%,0);
    position: relative;
    font-size: 20px;
    width: 100%;
}
.navtopBlock{
    text-decoration: none;
    color: black;
}
.navtop button{
    text-decoration: none;
    font-size: large;
    border: none;
    background-color: rgb(193, 202, 193);
    padding-bottom: 5px;
}
.navtop button:hover{
    background-color: rgb(179, 193, 179);
}
.navtop button.active{
    background-color: white;
}


.slideshow{
    display: none;
    height: 300px;
    overflow: hidden;
    width: 70%;
    margin-left: 15%;
    aspect-ratio: 16/9;
}
.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-left: 15%;
    margin-right: 15%;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: gray;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{opacity: 0.5}
    to{opacity: 1}
}
.blockDisplay{
    zoom: 1;
    display: inline-block;
    border: solid darkgray 3px;
    box-shadow: inset;
    margin: 7px;    
    max-width: 200px;
    max-height: 250px;
    border-radius: 10px;
    overflow: hidden;
}
.imgDisplay{
    height: auto;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}
img{
    height: auto;
    max-width: 100%;
}
ul{
    display: inline-block;
    overflow-x: scroll;
    padding-left: 5px;
    margin: 2px;
    list-style-type: none;
    width: 100vw;
    white-space: nowrap;

}
.jenisProduk{
    padding: auto;
    margin: 1px;
}
.deskripsiProduk{
    padding: auto;
    margin: 1px;
    justify-self: start;
}
.leftSect{
    display: inline-block;
    width: 50%;
}
.rightSect{
    display: inline-block;
    position: relative;
    width: 47%;
    margin-right: 15px;
}
.desc{
    display: block;
    margin: 3px;
}
.rightSect .desc{
    text-align: right;
}
.katalog h1{
    background-color: rgb(193, 202, 193);
    border-radius: 5px;
    padding: 5px;
    max-width: max-content;
}
::-webkit-scrollbar{
    width: 7px;
    color: black;
}
::-webkit-scrollbar-track{
    width: 7px;
    color: bisque;
}
