<!--
    akses di web nya ke /admin-dash
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale1.0">
        <link rel="stylesheet" href="../css/admin_dash.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Bulan', 'Wortel', 'Bawang'],
          ['Agustus',  1000,      400],
          ['September',  1170,      460],
          ['Oktober',  660,       1120],
          ['November',  1030,      540]
          
        ]);

        var options = {
          title: 'Demand Produk Per Bulan di Jatinangor',
          curveType: 'function',
          colors:["#264653", "#E76F51"],
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Tanggal', 'Stok Bawang', 'Order Bawang', 'Stok Cabai', 'Order Cabai'],
      ['02-09-2023', 30, 10, 40, 5],
      ['03-09-2023', 20, 10, 35, 20],
      ['04-09-2023', 27, 15, 50, 23],
      ['05-09-2023', 20, 15, 40, 24]
    ]);

    var options = {
      chart: {
        title: 'Perbandingan Supply Demand Produk di Jatinangor',
        subtitle: 'Minggu ke-1, November',
        explorer: {axis: 'horizontal'},
      },
      colors:["#264653", "#2A9D8F", "#F4A261", "#E76F51"]
    };

    var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
</script>

<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Element", "Jumlah Review", { role: "style" } ],
        ["Bintang 5", 300, "#F4A261"],
        ["Bintang 4", 100, "#2A9D8F"],
        ["Bintang 3", 25, "#E9C46A"],
        ["Bintang 2", 6, "#264653"],
        ["Bintang 1", 1, "#E76F51"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Review Toko",
        width: 450,
        height: 250,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
  }
  </script>

    </head>

    <body>
        <nav class="sidebar">
            <div class="sidebar__top-content">
                <a href=""><img height="108px" width="192px" src="../picture/logo.png" alt=""></a>
            </div>
            <ul class="sidebar__links"style="margin-left: -20px; margin-top: -25px">

                <p class="main_nav">MAIN MENU</p>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-home' style="color: #E76F51;"></i>
                        <span class="sidebar__link-name" style="color: #E76F51;">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-store'></i>
                        <span class="sidebar__link-name">Profil Toko</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-cart alt'></i>
                        <span class="sidebar__link-name">Ongoing Order</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bx-money-withdraw'></i>
                        <span class="sidebar__link-name">Transaksi</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-cube'style="color: #E76F51;"></i>
                        <span class="sidebar__link-name">List Produk</span>
                    </a>
                </li>

            </ul>

            <div class="out">
            <button style="background-color: #2A9D8F;">Keluar Dari Toko</button>
            </div>

        </nav>

        <div class="right">
            <div class="inline">
                <span><h1>Dashboard</h1></span>
                <span>
                    <li>
                        <a href="#">
                            <i class='sidebar__link-icon bx bxs-cube'></i>
                        </a>
                    </li>
                </span>
            </div>
            
            <div class="inline">
                <span>
                    <h2>Demand Minggu Lalu!</h2>
                    <div class="inline" style="margin-top: -20px; margin-left: -1px;">
                        <span style="margin-right: 20px;">
                            <p style="color: #264653;">Wortel</p>
                            <p style="color: #264653;">30</p>  
                        </span>
                        <span>
                            <p style="color: #E76F51;">Bawang</p>
                            <p style="color: #E76F51;">70</p>  
                        </span>
                    </div>
                </span>
                <span class="graph" id="curve_chart" style="width: 450px; height: 250px;"></span>
                <span>
                    <h2>Rating Toko</h2>
                    <h1>4.8 <i style="color: #E9C46A;" class="sidebar__link-icon bx bxs-star"></i></h1>
                </span>
                <span id="barchart_values" style="width: 450px; height: 50px;"></span>
            </div>

            <span><h2 style="margin-bottom: -30px;">Manajemen Stok</h2></span>

            <div class="inline">
                <span class="graph" id="columnchart_material" style="width: 800px; height: 300px;"></span>
            </div>

        </div>
    </body>

</html>