<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale1.0">
        <link rel="stylesheet" href="../css/admin_dash.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <nav class="sidebar">
            <div class="sidebar__top-content">
                <p>Agrishop</p>
            </div>
            <i class="sidebar__arrow bx bx-chevron-right"></i>
            <ul class="sidebar__links">

                <p>MAIN MENU</p>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-home'></i>
                        <span class="sidebar__link-name">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-store'></i>
                        <span class="sidebar__link-name">Profil Toko</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-cart alt'></i>
                        <span class="sidebar__link-name">Order Management</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bx-money-withdraw'></i>
                        <span class="sidebar__link-name">Transaksi</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-package'></i>
                        <span class="sidebar__link-name">Stock Management</span>
                    </a>
                </li>

            </ul>

            <ul class="navbar_sec">
                <p>PRODUK</p>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-plus-circle'></i>
                        <span class="sidebar__link-name">Tambahkan Produk</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-cube'></i>
                        <span class="sidebar__link-name">List Produk</span>
                    </a>
                </li>
            </ul>

        </nav>
    </body>

</html>