<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale1.0">
        <link rel="stylesheet" href="../css/admin_transaksi.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <nav class="sidebar">
            <div class="sidebar__top-content">
                <a href=""><img height="108px" width="192px" src="../picture/logo.png" alt=""></a>
            </div>
            <ul class="sidebar__links"style="margin-left: -20px; margin-top: -25px">

                <p class="main_nav">MAIN MENU</p>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-home' ></i>
                        <span class="sidebar__link-name">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-store'></i>
                        <span class="sidebar__link-name">Profil Toko</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-cart alt'></i>
                        <span class="sidebar__link-name">Order Management</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bx-money-withdraw' style="color: #E76F51;"></i>
                        <span class="sidebar__link-name" style="color: #E76F51;">Transaksi</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-package'></i>
                        <span class="sidebar__link-name">Stock Management</span>
                    </a>
                </li>

            </ul>

            <ul class="navbar_sec" style="margin-left: -20px;">
                <p>PRODUK</p>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-plus-circle'></i>
                        <span class="sidebar__link-name">Tambahkan Produk</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="#">
                        <i class='sidebar__link-icon bx bxs-cube'></i>
                        <span class="sidebar__link-name">List Produk</span>
                    </a>
                </li>
            </ul>

            <div class="out">
            <button style="background-color: #2A9D8F;">Keluar Dari Toko</button>
            </div>
        </nav>

        <div class="right">
            <h1 style="margin-left: 30px; margin-top: 60px;">Transaksi</h1>
            <div class="table-wrap" style="display: block;">
                <table>
                    <tr>
                      <th>ID</th>
                      <th>Customer</th>
                      <th>Tanggal</th>
                      <th>Produk</th>
                      <th>Total</th>
                      <th>Metode</th>
                      <th>Status</th>
                      <th>Detil</th>
                    </tr>
                    <tr>
                      <td>#198</td>
                      <td>Peter</td>
                      <td>19-20-22</td>
                      <td>Cabe 1kg</td>
                      <td>Rp30.000</td>
                      <td>BCA</td>
                      <td>In progress</td>
                    </tr>
                    <tr>
                        <td>#197</td>
                        <td>Lois</td>
                        <td>19-20-22</td>
                        <td>Bawang 1kg</td>
                        <td>Rp40.000</td>
                        <td>COD</td>
                        <td>Finish</td>
                    </tr>
                    
                  </table>
            </div>
        </div>

    </body>