<!DOCTYPE html>
<html>
    <%- include('../reusables/navbar') %>
    <link rel="stylesheet" href="../css/cart.css">
    <div class="in">
        <div class="title">
            <h1>Keranjang</h1>
        </div>
        <script>
            function checkout(){
                window.location.href = "checkout";
            }
        </script>
            <div>
            <ul class="chekoutLine">
                <li class="checkout" style="border: none;">
                    <div class="checkoutTitle">
                        <div class="checkoutTitleLine" id="product">
                            <h2>Produk</h2>
                        </div>
                        <div class="checkoutTitleLine" id="quantity">
                            <h2>Kuantitas</h2>
                        </div>
                        <div class="checkoutTitleLine" id="price">
                            <h2>Harga</h2>
                        </div>
                        <div class="checkoutTitleLine" id="subtotal">
                            <h2>Subtotal</h2>
                        </div>
                    </div>
                </li>
                <% for( let index = 0; index < 7; index++ ) { %>
                <li class="checkout">
                    <div class="checkoutContainer" id="product">
                        <div id="checkoutImg">
                            <img src="../picture/defaultProduct.jpg" alt="Gambar produk">
                        </div>
                        <div id="checkoutProduct">
                            <div id="productName">
                            <h3>Si halus dari goa hantu(nama produk)</h3>
                            </div>
                            <div id="remain">
                            <p>tersedia :</p><p>17.7</p><p>Kg</p>
                            </div>
                            <div id="remove">
                            <input type="button" id="removeItem" onclick="hapusbarang"><i class="fa-solid fa-trash"></i> hapus
                            </div>
                        </div>
                    </div>
                    <div class="checkoutContainer" id="quantity">
                        <input type="text" name="kuantitas" id="item" value="12 sesuai input sebelumnya">Kg
                    </div>
                    <div class="checkoutContainer" id="price">
                        <p>Rp 1.000.000.000/Kg</p>
                    </div>
                    <div class="checkoutContainer" id="subtotal">
                        <p>harga*kuantitas</p>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="coupon">
            <h3>Apakah Anda mempunyai kupon?</h3>
            <p>Masukkan kupon untuk mendapat diskon</p>
            <form action="cek database" id="applyCoupon">
                <input type="text"placeholder="Masukkan kupon (opsional)">
                <button type="button">Gunakan</button>
            </form>
        </div>
        <div class="checkoutF">
            <table>
                <tr>
                    <td style="width: 150px;">Subtotal</td>
                    <td>Rp 68676767</td>
                </tr>
                <tr>
                    <td style="border-top: 0.5px solid black;">Total</td>
                    <td style="border-top: 0.5px solid black;">subtotal-kupon</td>
                </tr>
            </table>
            <div class="buy">
                <button type="submit" onclick="checkout()">Bayar</button>
            </div>
        </div>
    </div>
</html>
