<!DOCTYPE html>
<html>
    <%- include('../reusables/navbar.ejs') %>
    <link rel="stylesheet" href="../css/chat.css">

<div class="in">
    <div id="in">
        <div class="chat sender"> <!--btw ini dari bawah ke atas urutannya (yang paling baru/bawah) itu yang atas)-->
            <img src="../picture/defaultProfile.jpg" alt="foto profil" class="right">
            <p>ready?</p>
            <span class="timeSend">12:55</span>
        </div>
        <div class="chat receiver">
            <img src="../picture/defaultSeller.png" alt="foto profil">
            <p>halo</p>
            <span class="timeReceive">12:55</span>
        </div>
        <div class="chat sender">
            <img src="../picture/defaultProfile.jpg" alt="foto profil" class="right">
            <p>halo gan</p>
            <span class="timeSend">12:55</span>
        </div>
        <div class="chat sender">
            <img src="../picture/defaultProfile.jpg" alt="foto profil" class="right">
            <p>halo</p>
            <span class="timeSend">12:55</span>
        </div>
    </div>
    <div class="send">
        <input type="text" placeholder="Tulis pesan" required><i style="margin: 5px; cursor: pointer;" class="fa-solid fa-paper-plane" onclick="send()//isiin bang"></i>
    </div>
</div>
</html>
