<!DOCTYPE html>
<html>
    <%- include('../reusables/navbar.ejs') %>
    <link rel="stylesheet" href="../css/chat.css">
    <div class="profileReceiver">
        <div id="profileImg">
            <img src="../picture/abstrak1.png" alt="">
        </div>
        <div id="profileName">
            <p>apalah</p>
        </div>
    </div>
    <div class="chat sender">
        <p>halo gan</p>
        <span class="timeSend">12:66</span>
    </div>
    <div class="chat receiver">
        <p>halo gan</p>
        <span class="timeSend">12:66</span>
    </div>
    <div>
        <input type="text"><i class="fa-solid fa-paper-plane"></i>
    </div>
</html>