<!--
    ini nom mau ngerjain yaw
-->
<!DOCTYPE html>
<html>
    <%- include('../reusables/navbar') %>
    <link rel="stylesheet" href="../css/checkout.css"
    <div class="left">
        <p>
            eyyo
        </p>
    </div>