<!--
    ini nom mau ngerjain yaw
    sorry if it's super ineffiecient and a sore to yalls eyes lmao
-->
<!DOCTYPE html>
<html>
    <%- include('../reusables/navbar') %>
    <link rel="stylesheet" href="../css/checkout.css">
    <body>
        <div class="main">
        <div class="left">
            <div class="infos">
                <h2>Informasi Kontak</h2>
                <fieldset>
                    <label for="first-name">Nama depan: 
                        <input name="first-name" type="text" required /></label>
                    <label for="last-name">Nama belakang: 
                        <input name="last-name" type="text" required /></label>
                    <label for="email">Email: 
                        <input name="email" type="email" required /></label>
                </fieldset>
            </div>

            <div class="infos">
                <h2>Alamat Pengiriman</h2>
                <fieldset>
                    <label>Alamat: 
                        <input type="text" required /></label>
                    <label >Kota/Kabupaten:
                        <input type="text" required /></label>
                    <label >Provinsi: 
                        <input type="email" required /></label>
                </fieldset>
            </div>

            <div class="infos">
                <h2>Pembayaran</h2>
                <fieldset>
                    <label class="metode">Metode Pembayaran
                        <select class="metode" required>
                        <option value="">(pilih satu)</option>
                        <option value="1">COD (Cash On Delivery) </option>
                        <option value="2">Transfer bank</option>
                        </select>
                    </label>
                    <label >Nomor rekening:
                        <input type="text" required /></label>
                </fieldset>
            </div>

        </div>
        <div class="right">
            <h2>Order</h2>
            <div class="inline2">
                <a href=""><img height="100px" width="120px" src="../picture/bayam.jpeg" alt=""></a>
                <div class="cat">
                    <p><span class="bold" >Bayam</span> <span class="bold">Rp2.000,00</span></p>
                    <span class="inline"><p class="ket">Bayam hijau organik</p><button value="del">hapus</button></span>
                    <div class="inline">
                        <button>-</button>
                        <input type="text" class="sum" value="1">
                        <button>+</button>
                    </div>
                </div>
            </div>
            <div class="inline2">
                <a href=""><img height="100px" width="120px" src="../picture/bayam.jpeg" alt=""></a>
                <div class="cat">
                    <p><span class="bold">Bayam</span> <span class="bold">Rp2.000,00</span></p>
                    <span class="inline"><p class="ket">Bayam hijau organik</p><button value="del">hapus</button></span>
                    <div class="inline">
                        <button>-</button>
                        <input type="text" class="sum" value="1">
                        <button>+</button>
                    </div>
                </div>
            </div>
            <div class="total">
                <p><span>Subtotal</span><span>Rp4.000,00</span></p>
                <p><span>Ongkir</span><span>Rp1.000,00</span></p>
                <p><span class="bold">Total</span><span class="bold">Rp5.000,00</span></p>
                <input type="submit" value="Order">
            </div>
        </div>
    </body>
    </div>