<html>
    <link rel="stylesheet" href="home.css">
    <div class="topSection">
        <form action="" class="search">
            <input type="search" name="searchBar" id="searchBar" placeholder="Search">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <script src="https://kit.fontawesome.com/d55d71e4f6.js" crossorigin="anonymous"></script>
        <a href="profile.html"><i class="fa-regular fa-user"></i></a>
        <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <ul>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 1
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 2
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 3
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 4
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 5
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 1
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 2
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 3
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 4
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 5
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
    </ul>
</html>