<html>
    <link rel="stylesheet" href="../css/login.css">
    <form action="sandiReset.html" id="lupaSandi" method="post">

        <body class="bgImage"></body>

        <div class="container">
            <h1 class="judul">
                Agrishop
            </h1>
            <h2 class="judul">
                Ganti Kata Sandi
            </h2>
        </div>
        <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="text" id="email" placeholder="Masukkan Email" name="email" required >
            <button type="submit" class="button">Ubah sandi</button>
        </div>
        <div class="container">
            <p class="result"></p>
        </div>

    </form>
</html>
