<!-- ini cuman nyoba -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Product</title>
</head>
<body>
    <form action="/postProduct" method="post" enctype="multipart/form-data">
        <label for="nama"><b>nama Produk</b></label>
        <input type="text" id="nama" placeholder="Masukkan nama produk" name="nama" required >
        <br>
        <label for="rating"><b>Rating</b></label>
        <input type="text" id="rating" placeholder="Masukkan rating produk" name="rating" required >
        <br>
        <label for="amount"><b>Amount</b></label>
        <input type="text" id="amount" placeholder="Masukkan amount" name="amount" required >
        <br>
        <label for="price"><b>price</b></label>
        <input type="text" id="price" placeholder="Masukkan price" name="price" required >
        <br>
        <label for="image"><b>IMG</b></label>
        <input type="file" id="img" placeholder="Masukkan img" name="img" required >
        <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>