<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../css/profile.css">
    <%- include('../reusables/navbar') %>
    <div class="imgProfile">
        <img src="../picture/abstrak1.png" alt="profile picture" class="pictSquare">
    </div>
    <div class="underImg">
        <div>
            
        </div>
    </div>
    <div class="profile">
        <div id="firstName">
            <h3>Nama depan</h3>
            <p>si halus</p>
        </div>
        <div id="lastName">
            <h3>Nama belakang</h3>
            <p>dari goa hantu</p>
        </div>
        <div id="displayName">
            <h3>Nama display</h3>
            <p>mbuh</p>
        </div>
        <div id="email">
            <h3>Email</h3>
            <p>dfghjk@hahahihi.com</p>
        </div>
    </div>
    <div class="ChangePass">
        <h2>Ganti password</h2>
        <p>Jika diperlukan</p>
        <form action="">
            <div id="oldPass">
                <input type="password" name="" id="">
            </div>
            <div id="newPass">
                <input type="password">
            </div>
            <div id="newPassr">
                <input type="password">
            </div>
            <button type="submit" id="nPass">Ganti kata sandi</button>
        </form>
    </div>

</html>