<!DOCTYPE html>
<html>
    <%- include('../reusables/head.ejs') %>
    </head>
    <body class="bgImage">
        
    </body>
    <form id="loginForm" class="loginForm" id="loginForm" action="/signin" method="post">

        <div class="container">
            <h1 class="judul">
                Agrishop
            </h1>
            <h2 class="judul">
                Daftar
            </h2>
            <p class="judul">
                Sudah punya akun? <a href="login">Masuk</a>
            </p>
        </div>
        <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="email" id="email" placeholder="Masukkan Email" name="email" required >
            <p id="errEmail" hidden style="color: red;"> Email is not valid </p>

            <label for="username"><b>Nama Lengkap</b></label>
            <input type="text" id="username" placeholder="Masukkan Nama Lengkap" name="username" required>

            <label for="password"><b>Kata Sandi</b></label>
            <div class="pass">
            <input type="password" id="password" placeholder="Masukkan Kata Sandi"name="password"  required>
            <input type="checkbox" onclick="showPass()">
            </div>

            <label for="password"><b>Ulangi Kata Sandi</b></label>
            <div class="pass">
            <input type="password" id="passwordRepeat" placeholder="Ulangi Kata Sandi"name="passwordRepeat"  required>
            <input type="checkbox" onclick="showPassRepeat()">
            </div>
            <p id="errPass" hidden style="color: red;"> password must be the same</p>

            <div class="pass">
            <label for="remember">Ingat Saya</label>
            <input type="checkbox" checked="checked" name="remember" id="remember">
            </div>

            <% if (errorMsg!="none") { %>
                <p> <%= errorMsg %></p> 
            <% } %>

            <button type="submit" class="button" id="submit" disabled>Daftar</button>

            <script type="module" src="/js/auth.js"></script>
            <script src="https://unpkg.com/validator@latest/validator.min.js"></script>

            <script>
            function showPass(){
                var x = document.getElementById("password");
                if (x.type === "password"){
                    x.type = "text";
                }else{
                    x.type = "password"
                }
            }
            function showPassRepeat(){
                var x = document.getElementById("passwordRepeat");
                if (x.type === "password"){
                    x.type = "text";
                }else{
                    x.type = "password"
                }
            }
            </script>

            </div>
            <div class="container">
                <p class="result"></p>
            </div>
        
    </form>
</html>