<!--
    ini tempat buat nyampah ngetes doang yaa sorry ngeberantakin TT
    akses di webpagenya through /tes
-->

<!DOCTYPE html>
<html>
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <input type="button" value="Previous" id="btnPrevious"/>
        <span id="spanStage">Stage 5</span>
        <input type="button" value="Next" id="btnNext"/>
   </div>
</html>