<html>
    <ul>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 1
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 2
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 3
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 4
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 5
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 1
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 2
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 3
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 4
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <p class="jenisProduk">
                    Produk 5
                </p>
                <p class="deskripsiProduk">
                    sesuatu
                </p>
            </div>
        </li>
    </ul>
</html>