<html>
    <ul>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <div class="leftSect">
                    <p class="desc" style="margin-bottom: 0;">
                        Produk 1
                    </p>
                    <p class="desc" style="display: inline-block;">
                        <i class="fa-solid fa-star" style="display: inline-block; width: 10%;"></i>
                        <p style="display: inline-block; width: 40%; margin: 3px">rating</p>
                    </p>
                </div>
                <div class="rightSect">
                    <p class="desc">
                        Tersedia:
                    </p>
                    <p class="desc">
                        17kg
                    </p>
                </div>
            </div>
        </li>
        <li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <div class="leftSect">
                    <p class="desc" style="margin-bottom: 0;">
                        Produk 1
                    </p>
                    <p class="desc" style="display: inline-block;">
                        <i class="fa-solid fa-star" style="display: inline-block; width: 10%;"></i>
                        <p style="display: inline-block; width: 40%; margin: 3px">rating</p>
                    </p>
                </div>
                <div class="rightSect">
                    <p class="desc">
                        Tersedia:
                    </p>
                    <p class="desc">
                        17kg
                    </p>
                </div>
            </div>
        </li><li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <div class="leftSect">
                    <p class="desc" style="margin-bottom: 0;">
                        Produk 1
                    </p>
                    <p class="desc" style="display: inline-block;">
                        <i class="fa-solid fa-star" style="display: inline-block; width: 10%;"></i>
                        <p style="display: inline-block; width: 40%; margin: 3px">rating</p>
                    </p>
                </div>
                <div class="rightSect">
                    <p class="desc">
                        Tersedia:
                    </p>
                    <p class="desc">
                        17kg
                    </p>
                </div>
            </div>
        </li><li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <div class="leftSect">
                    <p class="desc" style="margin-bottom: 0;">
                        Produk 1
                    </p>
                    <p class="desc" style="display: inline-block;">
                        <i class="fa-solid fa-star" style="display: inline-block; width: 10%;"></i>
                        <p style="display: inline-block; width: 40%; margin: 3px">rating</p>
                    </p>
                </div>
                <div class="rightSect">
                    <p class="desc">
                        Tersedia:
                    </p>
                    <p class="desc">
                        17kg
                    </p>
                </div>
            </div>
        </li><li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <div class="leftSect">
                    <p class="desc" style="margin-bottom: 0;">
                        Produk 1
                    </p>
                    <p class="desc" style="display: inline-block;">
                        <i class="fa-solid fa-star" style="display: inline-block; width: 10%;"></i>
                        <p style="display: inline-block; width: 40%; margin: 3px">rating</p>
                    </p>
                </div>
                <div class="rightSect">
                    <p class="desc">
                        Tersedia:
                    </p>
                    <p class="desc">
                        17kg
                    </p>
                </div>
            </div>
        </li><li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <div class="leftSect">
                    <p class="desc" style="margin-bottom: 0;">
                        Produk 1
                    </p>
                    <p class="desc" style="display: inline-block;">
                        <i class="fa-solid fa-star" style="display: inline-block; width: 10%;"></i>
                        <p style="display: inline-block; width: 40%; margin: 3px">rating</p>
                    </p>
                </div>
                <div class="rightSect">
                    <p class="desc">
                        Tersedia:
                    </p>
                    <p class="desc">
                        17kg
                    </p>
                </div>
            </div>
        </li><li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <div class="leftSect">
                    <p class="desc" style="margin-bottom: 0;">
                        Produk 1
                    </p>
                    <p class="desc" style="display: inline-block;">
                        <i class="fa-solid fa-star" style="display: inline-block; width: 10%;"></i>
                        <p style="display: inline-block; width: 40%; margin: 3px">rating</p>
                    </p>
                </div>
                <div class="rightSect">
                    <p class="desc">
                        Tersedia:
                    </p>
                    <p class="desc">
                        17kg
                    </p>
                </div>
            </div>
        </li><li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <div class="leftSect">
                    <p class="desc" style="margin-bottom: 0;">
                        Produk 1
                    </p>
                    <p class="desc" style="display: inline-block;">
                        <i class="fa-solid fa-star" style="display: inline-block; width: 10%;"></i>
                        <p style="display: inline-block; width: 40%; margin: 3px">rating</p>
                    </p>
                </div>
                <div class="rightSect">
                    <p class="desc">
                        Tersedia:
                    </p>
                    <p class="desc">
                        17kg
                    </p>
                </div>
            </div>
        </li><li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <div class="leftSect">
                    <p class="desc" style="margin-bottom: 0;">
                        Produk 1
                    </p>
                    <p class="desc" style="display: inline-block;">
                        <i class="fa-solid fa-star" style="display: inline-block; width: 10%;"></i>
                        <p style="display: inline-block; width: 40%; margin: 3px">rating</p>
                    </p>
                </div>
                <div class="rightSect">
                    <p class="desc">
                        Tersedia:
                    </p>
                    <p class="desc">
                        17kg
                    </p>
                </div>
            </div>
        </li><li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <div class="leftSect">
                    <p class="desc" style="margin-bottom: 0;">
                        Produk 1
                    </p>
                    <p class="desc" style="display: inline-block;">
                        <i class="fa-solid fa-star" style="display: inline-block; width: 10%;"></i>
                        <p style="display: inline-block; width: 40%; margin: 3px">rating</p>
                    </p>
                </div>
                <div class="rightSect">
                    <p class="desc">
                        Tersedia:
                    </p>
                    <p class="desc">
                        17kg
                    </p>
                </div>
            </div>
        </li><li class="blockDisplay">
            <div class="display">
                <div class="imgDisplay">
                    <img src="../picture/abstrak1.png" alt="Display katalog">
                </div>
                <div class="leftSect">
                    <p class="desc" style="margin-bottom: 0;">
                        Produk 1
                    </p>
                    <p class="desc" style="display: inline-block;">
                        <i class="fa-solid fa-star" style="display: inline-block; width: 10%;"></i>
                        <p style="display: inline-block; width: 40%; margin: 3px">rating</p>
                    </p>
                </div>
                <div class="rightSect">
                    <p class="desc">
                        Tersedia:
                    </p>
                    <p class="desc">
                        17kg
                    </p>
                </div>
            </div>
        </li>
    </ul>
</html>
