<html>
    <script src="https://kit.fontawesome.com/d55d71e4f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/navbar.css">
    <div>
        <div class="topSection">
            <div id="homeW">
            <a href="home" id="homeAgrishop" style="text-decoration: none; color: black;">Agrishop</a>
            </div>
            <form action="" class="search">
                <input type="search" name="searchBar" id="searchBar" placeholder="Cari sesuatu...">
                <button type="submit"><i class="fa fa-search" id="searchLogo"></i></button>
            </form>

            <div class="iconTop">
            <a href="cart" style="text-decoration: none; color: black;"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="../pages/profile" style="text-decoration: none; color: black;"><i class="fa-regular fa-user"></i></a>
            </div>
        </div>

        <div class="navtop">
            <button type="menu"><a href="home" class="navtopBlock">Beranda</a></button>
            <button type="menu"><a href="riwayat" class="navtopBlock">Riwayat</a></button>
            <button type="menu"><a href="tentang/bantuan" class="navtopBlock">tentang/bantuan</a></button>
            <button type="menu"><a href="jual/beli" class="navtopBlock">Jual/Beli</a></button>
        </div>
    </div>
</html>
