<html>
    <script src="https://kit.fontawesome.com/d55d71e4f6.js" crossorigin="anonymous"></script>

    <div>
        <div class="topSection">
            <a href="home" id="homeAgrishop" style="text-decoration: none;">Agrishop</a>
            <form action="" class="search">
                <input type="search" name="searchBar" id="searchBar" placeholder="Search">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
    
            <a href="cart.html" style="text-decoration: none;"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="profile.html" style="text-decoration: none;"><i class="fa-regular fa-user"></i></a>
    
        </div>
        <div class="navtop">
            <a href="home" class="navtopBlock">Beranda</a>
            <a href="kategori" class="navtopBlock">Kategori</a>
            <a href="riwayat" class="navtopBlock">Riwayat</a>
            <a href="bantuan" class="navtopBlock">Bantuan</a>
        </div>
    </div>
</html>
