<html>
    <script src="https://kit.fontawesome.com/d55d71e4f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/navbar.css">
    <div>
        <div class="topSection">
            <div id="homeW">
            <a href="homeload" id="homeAgrishop" style="text-decoration: none; color: black;"><img src="../picture/logo.png" alt=""></a>
            </div>
            <form action="" class="search" style="display: flex;">
                <input type="search" name="searchBar" id="searchBar" placeholder="Cari sesuatu...">
                <button type="submit"><i class="fa fa-search" id="searchLogo"></i></button>
            </form>

            <div class="iconTop">
            <a href="cart" style="text-decoration: none; color: black;"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="profile" style="text-decoration: none; color: black;"><i class="fa-regular fa-user"></i></a>
            </div>
        </div>

        <script>
            function show(){
                document.getElementById("dropc").classList.toggle("show");
            }
        </script>

        <div class="navtop">
            <button type="menu"><a href="homeload" class="navtopBlock">Beranda</a></button>
            <button type="menu"><a href="riwayat" class="navtopBlock">Riwayat</a></button>
            <div class="dropdown">
                <button type="button" class="navtopBlock" style="cursor: pointer;" onclick="show()">Jual<i class="fa fa-caret-down" style="margin-left: 5px;"></i></button>
                <div class="dropcontent" id="dropc">
                    <a href="admin-toko" style="margin-left: 17px;">Tokoku</a>
                </div>
            </div>
        </div>
    </div>
</html>
